#body-login {
	.message-error {
		margin-bottom: 0;
		background-color: #f6f7fa;
		opacity: 0.4;
	}

	#container-login-register {
		background-color: #f6f7fa;
		padding: 0;
		-webkit-box-shadow: 0 8px 6px -6px black;
	    -moz-box-shadow: 0 8px 6px -6px black;
	    box-shadow: 0 8px 6px -6px black;
	    font-family: "Roboto Light";

		.form-signin {
			max-width: none;
			padding: 0;

			.bouton-login-register {
				height: 70px;
				background-color: $blue-cat-5;
	
				p {
					width: 100px;
					float: right;
					display: inline-block;
					margin: 0;
					height: 100%;
	
					button {
						width: 100%;
						background-color: transparent;
						border-color: transparent;
						color: white;
						height: 100%;
					}
				}
	
				button {
					width: 100px;
					float: right;
					display: inline-block;
					background-color: transparent;
					border-color: transparent;
					color: white;
					height: 100%;
					margin-right: 20px;

						&:focus {
    						outline: none;
    						border-color: transparent;
  							-webkit-box-shadow: none;
  							box-shadow: none;
    					}

					&:after {
						content: "";
						display: block;
						background-color: transparent;
						height: 6px;
						width: 100px;
						position: absolute;
						top: 64px;
					}

					&:hover {
						&:after {
							background-color: $blue-badge;
						}
					}
				}
			}

			.champs-login-register {
				width: 50%;
    			margin: 100px auto;

    			input {
    				background-color: #f6f7fa;
    				outline: none;
    				border-color: transparent;
    				-webkit-box-shadow: none;
  					box-shadow: none;
  					border-radius: 0!important;
  					border-bottom: 1px solid $grey-border;

    				&:focus {
    					outline: none;
    					border-color: transparent;
  						-webkit-box-shadow: none;
  						box-shadow: none;
    				}

    				&:nth-child(2) {
    					margin-top: 20px;
    				}
    			}
			}


			.just-button {
				button {
					list-style-type: none;
					text-align: center;
					width: 200px;
					margin: 30px auto;
					border-radius: 25px;
					background-color: $blue-badge;
					border: none;
					outline: none;
    				border-color: transparent;
  					-webkit-box-shadow: none;
  					box-shadow: none;
				}
			}
		}
	}
}