
@import "untils/animations.scss";
@import "base/colors.scss";
@import "untils/typo.scss";

@import "layout/body.scss";
@import "layout/menu.scss";
@import "layout/footer.scss";

@import "pages/home.scss";
@import "pages/langues.scss";
@import "pages/categories.scss";
@import "pages/login.scss";







