@font-face {
  font-family: "Roboto Light";
  src: url("../font/Roboto-Light.ttf"); }
@font-face {
  font-family: "Roboto Regular";
  src: url("../font/Roboto-Regular.ttf"); }
@font-face {
  font-family: "Roboto Medium";
  src: url("../font/Roboto-Medium.ttf"); }
@font-face {
  font-family: "Roboto Bold";
  src: url("../font/Roboto-Bold.ttf"); }
@font-face {
  font-family: "Roboto Italic";
  src: url("../font/Roboto-Italic.ttf"); }
body {
  margin: 0; }
  body .with-menu {
    margin-left: 200px; }

.vertical-menu {
  width: 200px;
  height: 100%;
  background-color: #0e1a35;
  position: fixed;
  font-family: "Roboto Regular";
  z-index: 2; }
  .vertical-menu .logo {
    width: 100%;
    height: 80px;
    margin: auto;
    margin-top: 20px; }
    .vertical-menu .logo .logo-img img {
      margin-right: 10px;
      width: 62px;
      height: 62px; }
    .vertical-menu .logo .logo-text h1 {
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 5px;
      text-align: center; }
    .vertical-menu .logo .logo-img, .vertical-menu .logo .logo-text {
      color: white;
      text-align: center; }
  .vertical-menu ul {
    padding: 0;
    margin: 0;
    margin-top: 70px; }
    .vertical-menu ul a {
      display: inline-block;
      text-decoration: none;
      color: white;
      vertical-align: middle;
      width: 100%; }
      .vertical-menu ul a li {
        height: 50px;
        list-style-type: none; }
        .vertical-menu ul a li:before {
          content: "";
          display: inline-block;
          width: 5px;
          height: 100%;
          vertical-align: middle; }
        .vertical-menu ul a li:hover {
          background-color: #122143; }
          .vertical-menu ul a li:hover:before {
            background-color: #5584ff; }
        .vertical-menu ul a li p {
          margin: 0;
          margin-left: 5px;
          display: inline-block;
          vertical-align: middle; }
          .vertical-menu ul a li p:before {
            display: inline-block;
            vertical-align: middle;
            content: '';
            width: 24px;
            height: 24px;
            background-size: cover;
            background-repeat: no-repeat;
            background-size: 20px; }
    .vertical-menu ul a:nth-child(1) li p:before {
      background-image: url("../images/picto-1.png"); }
    .vertical-menu ul a:nth-child(2) li p:before {
      background-image: url("../images/picto-2.png"); }
    .vertical-menu ul a:nth-child(3) li p:before {
      background-image: url("../images/picto-3.png"); }
    .vertical-menu ul a:nth-child(4) li p:before {
      background-image: url("../images/picto-4.png"); }
    .vertical-menu ul a:nth-child(5) li p:before {
      background-image: url("../images/picto-5.png"); }

body {
  background-color: #f6f7fa; }

.horizontal-menu {
  font-family: "Roboto Regular";
  margin-left: 200px;
  height: 100px;
  border-bottom: 1px solid #d4d9e3;
  background-color: white; }
  .horizontal-menu .navbar-text {
    margin: 30px auto; }
    .horizontal-menu .navbar-text #img-user {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px; }
    .horizontal-menu .navbar-text strong {
      margin-right: 10px; }
  .horizontal-menu ul.navbar-nav {
    height: 100%; }
    .horizontal-menu ul.navbar-nav li {
      height: 100%; }
      .horizontal-menu ul.navbar-nav li a {
        height: 100%;
        line-height: 69px;
        color: #5384ff; }
        .horizontal-menu ul.navbar-nav li a:hover {
          color: #8492af;
          background-color: #f6f7fa; }
  .horizontal-menu #burger-open, .horizontal-menu #burger-close {
    margin-top: 38px;
    margin-left: 17px;
    display: inline-block;
    cursor: pointer; }
    .horizontal-menu #burger-open img, .horizontal-menu #burger-close img {
      vertical-align: middle;
      width: 21px; }
  .horizontal-menu #burger-open:before {
    content: "";
    width: 4px;
    height: 8px;
    display: inline-block; }
  .horizontal-menu #burger-open:after {
    content: "";
    background-image: url("../images/arrow-left.png");
    width: 4px;
    height: 8px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(180deg); }
  .horizontal-menu #burger-close:before {
    content: "";
    background-image: url("../images/arrow-left.png");
    width: 4px;
    height: 8px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover; }
  .horizontal-menu #burger-close:after {
    content: "";
    width: 4px;
    height: 8px;
    display: inline-block; }
  .horizontal-menu .score-user {
    float: right;
    color: white;
    font-family: "Roboto Light";
    margin-top: 30px;
    margin-right: 50px; }
    .horizontal-menu .score-user .score, .horizontal-menu .score-user .user {
      display: inline-block; }
    .horizontal-menu .score-user .score {
      width: 150px;
      background-color: #5384ff;
      border-radius: 30px;
      margin-right: 50px; }
      .horizontal-menu .score-user .score div {
        padding-left: 33px; }
        .horizontal-menu .score-user .score div #score-text, .horizontal-menu .score-user .score div #score-number {
          margin: 10px 0;
          display: inline-block; }
        .horizontal-menu .score-user .score div #score-text {
          margin-right: 5px; }
        .horizontal-menu .score-user .score div #score-number {
          font-family: "Roboto Bold";
          margin-left: 5px; }
    .horizontal-menu .score-user .user {
      height: 40px;
      vertical-align: bottom; }
      .horizontal-menu .score-user .user img {
        width: 40px;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle; }
      .horizontal-menu .score-user .user:after {
        content: "";
        background-image: url("../images/arrow-bottom.png");
        width: 12px;
        height: 6px;
        display: inline-block; }

.with-menu {
  margin-left: 200px; }
  .with-menu h2 {
    margin-top: 0; }

#intro {
  font-family: "Roboto Regular"; }
  #intro h2 {
    font-family: "Roboto Bold";
    color: #5384ff !important;
    margin-top: 2%;
    text-align: center; }
  #intro form {
    text-align: center; }
    #intro form .btn-lg {
      border-radius: 25px;
      width: 70%;
      background-color: #5384ff; }
  #intro #leaders-score {
    margin-top: 5%; }
    #intro #leaders-score h4 {
      text-align: center; }
    #intro #leaders-score .table {
      display: table;
      width: 100%;
      height: 100%; }
      #intro #leaders-score .table .table-cell {
        display: table-cell;
        vertical-align: middle; }
        #intro #leaders-score .table .table-cell .leaders {
          list-style-type: none;
          padding: 0;
          margin: 0 auto;
          width: 420px; }
          #intro #leaders-score .table .table-cell .leaders li {
            background-color: #fff;
            border-radius: 5px;
            height: 70px;
            margin-bottom: 10px;
            overflow: hidden;
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1); }
            #intro #leaders-score .table .table-cell .leaders li h3 {
              display: block;
              margin: 0;
              font-size: 18px;
              line-height: 40px;
              font-weight: 300;
              margin-top: 15px;
              padding-right: 20px;
              padding-left: 20px; }
              #intro #leaders-score .table .table-cell .leaders li h3 #score {
                float: right; }

.btn-primary {
  border-radius: 25px;
  width: 70%;
  background-color: #5384ff; }

#questionBox .list {
  padding: .5em 1em;
  margin: .5em .5em 2em .5em;
  border-left: 0.1875em solid #16a085;
  list-style-type: none; }
#questionBox .list__item {
  margin: 0 0 .5em 0;
  padding: 0; }
#questionBox .label--radio {
  position: relative;
  margin: .5em;
  font-family: Arial, sans-serif;
  line-height: 135%;
  cursor: pointer; }
#questionBox .radio {
  position: relative;
  margin: 0 1em 0 0;
  cursor: pointer; }
#questionBox .radio:before {
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  -moz-transition: -moz-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  content: "";
  position: absolute;
  top: 0.07em;
  left: 0.12em;
  z-index: 1;
  width: 1em;
  height: 1em;
  background: #16a085;
  border-radius: 50%; }
#questionBox .radio:checked:before {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1); }
#questionBox .radio:after {
  content: "";
  position: absolute;
  top: -0.25em;
  left: -0.12em;
  width: 1.5em;
  height: 1.5em;
  background: #fff;
  border: 2px solid #f2f2f2;
  border-radius: 50%; }

#final_score .table {
  display: table;
  width: 100%;
  height: 100%; }
  #final_score .table .table-cell {
    display: table-cell;
    vertical-align: middle; }
    #final_score .table .table-cell .leaders {
      list-style-type: none;
      padding: 0;
      margin: 0 auto;
      width: 420px; }
      #final_score .table .table-cell .leaders li {
        background-color: #fff;
        border-radius: 5px;
        height: 70px;
        margin-bottom: 10px;
        overflow: hidden;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1); }
        #final_score .table .table-cell .leaders li h3 {
          display: block;
          margin: 0;
          font-size: 18px;
          line-height: 40px;
          font-weight: 300;
          margin-top: 5%;
          padding-right: 20px;
          padding-left: 20px; }

html {
  height: 100%; }
  html #body-login {
    background-image: url(../images/img_bg_langues.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10vh;
    height: 75vh; }
    html #body-login .page-login {
      width: 50vw;
      max-width: 500px;
      margin: auto;
      background-color: white;
      -webkit-box-shadow: 0 8px 6px -6px black;
      -moz-box-shadow: 0 8px 6px -6px black;
      box-shadow: 0 8px 6px -6px black;
      font-family: "Roboto Light";
      font-weight: 100; }
      html #body-login .page-login .page-login-header {
        height: 10px;
        background-color: #25396e; }
        html #body-login .page-login .page-login-header button, html #body-login .page-login .page-login-header p {
          width: 20% !important;
          display: inline-block;
          float: right; }
        html #body-login .page-login .page-login-header p button {
          width: 100% !important;
          display: block;
          float: right; }
      html #body-login .page-login .titre-login {
        text-align: center;
        margin: 0;
        color: #8492af;
        padding-top: 5vh; }
        html #body-login .page-login .titre-login span {
          color: #5584ff; }
      html #body-login .page-login .login {
        padding: 10px 0; }
        html #body-login .page-login .login li {
          list-style-type: none;
          text-align: center;
          width: 200px;
          margin: 30px auto;
          border-radius: 25px;
          background-color: #5384ff; }
          html #body-login .page-login .login li a {
            color: white;
            text-decoration: none; }
            html #body-login .page-login .login li a h2 {
              margin: 0;
              padding: 10px 0;
              font-family: "Roboto Regular";
              text-transform: uppercase;
              font-size: 15px; }

html {
  background-image: none; }

#body-login .message-error {
  margin-bottom: 0;
  background-color: #f6f7fa;
  opacity: 0.4; }
#body-login #container-login-register {
  background-color: #f6f7fa;
  padding: 0;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  font-family: "Roboto Light"; }
  #body-login #container-login-register .form-signin {
    max-width: none;
    padding: 0; }
    #body-login #container-login-register .form-signin .bouton-login-register {
      height: 70px;
      background-color: #25396e; }
      #body-login #container-login-register .form-signin .bouton-login-register p {
        width: 100px;
        float: right;
        display: inline-block;
        margin: 0;
        height: 100%; }
        #body-login #container-login-register .form-signin .bouton-login-register p button {
          width: 100%;
          background-color: transparent;
          border-color: transparent;
          color: white;
          height: 100%; }
      #body-login #container-login-register .form-signin .bouton-login-register button {
        width: 100px;
        float: right;
        display: inline-block;
        background-color: transparent;
        border-color: transparent;
        color: white;
        height: 100%;
        margin-right: 20px; }
        #body-login #container-login-register .form-signin .bouton-login-register button:focus {
          outline: none;
          border-color: transparent;
          -webkit-box-shadow: none;
          box-shadow: none; }
        #body-login #container-login-register .form-signin .bouton-login-register button:after {
          content: "";
          display: block;
          background-color: transparent;
          height: 6px;
          width: 100px;
          position: absolute;
          top: 64px; }
        #body-login #container-login-register .form-signin .bouton-login-register button:hover:after {
          background-color: #5384ff; }
    #body-login #container-login-register .form-signin .champs-login-register {
      width: 50%;
      margin: 100px auto; }
      #body-login #container-login-register .form-signin .champs-login-register input {
        background-color: #f6f7fa;
        outline: none;
        border-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 0 !important;
        border-bottom: 1px solid #d4d9e3; }
        #body-login #container-login-register .form-signin .champs-login-register input:focus {
          outline: none;
          border-color: transparent;
          -webkit-box-shadow: none;
          box-shadow: none; }
        #body-login #container-login-register .form-signin .champs-login-register input:nth-child(2) {
          margin-top: 20px; }
    #body-login #container-login-register .form-signin .just-button button {
      list-style-type: none;
      text-align: center;
      width: 200px;
      margin: 30px auto;
      border-radius: 25px;
      background-color: #5384ff;
      border: none;
      outline: none;
      border-color: transparent;
      -webkit-box-shadow: none;
      box-shadow: none; }

/*# sourceMappingURL=style.css.map */
